.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/*
/plots/*
/data_old/*
/data_new/*
/deleted_data/*
/report/_book/*
/report/_bookdown_files/*
copypasta
notes_from_supervisory_meetings
element_max_removed_section